<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .contact{
    position: fixed;
    background-color: grey;
   left: 0;
    min-height: 50%;
    min-width: 50%;
  }
  .experience{
    position: fixed;
    background-color: blue;
    right: 0;
    min-height: 50%;
    min-width: 50%;
  }
  .skill{
    position: fixed;
    background-color: red;
    top: 50%;
    left: 0;
    min-width: 100%;
    min-height: 50%;
  }
</style>
<body>
  <div class="contact">Lorem ipsum</div>
  <div class="experience">Lorem ipsum2</div>
  <div class="skill">Lorem ipsum3</div>
</body>
</html>