body {
    font-family: "Lato", sans-serif;
    background-color: #FDF0EC;
    height: 100%;
    margin: 0;
  }
  .sideheading {
    background-color: #ffff;
    position: fixed;
    margin: -100px 0px 0px 0px;
    width: 50%;
    height: 100%;
    text-align: center;
  }

  .sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #ffff;
    overflow-x: hidden;
    transition: 0.5s;
    width: 250px;
    padding-top: 60px;
    margin: 1px;
  }
  .right{
    right: 0;
    width: 300px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 60px;
  }
  
  .konten {
    transition: margin-left .5s;
    transition: margin-right .5s;
    padding: 16px;
  }
  .transaksi{
    margin:0px 300px 0px 250px;
  }
  .login{
    position: relative;
    margin:100px 100px 0px 800px;
    background-color: #ffff;
    padding: 16px;
  }
  .BBesar{
    margin:0px 0px 0px 250px;
    padding: 10px 20px;
  }
  .hero-image{
      /* The image used */
      background-image: url("Banner.jpg");
      min-width: 100%;
      min-height: 100%;
      background-size: cover;
      position: relative;
    }

button {
    border: none;
    border-radius: 25px;
    background-color: #6F73D2;
    margin: 5px 20px 5px 15px;
    padding: 14px 28px;
    font-size: 16px;
    text-align: center;
    color: #ffff;
}
button:hover{background-color:#83C9F4;}
button:focus{background-color:#A3D5FF;}

.NavButton {
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  background-color: #ffff;
  padding: 14px 28px;
  font-size: 16px;
  text-align: left;
  color: #6F73D2;
}
.NavButton:focus{background-color:#83C9F4;}

.MenuButton {
  width: 40%;
  height: 200px;
  border: none;
  border-radius: 20px;
  background-color: #ffff;
  padding: 14px 28px;
  font-size: 16px;
  text-align: left;
  color: #6F73D2;
}
.MenuButton:focus{background-color:#83C9F4;}

input, select, textarea {
  width: auto;
  margin: 5px;
  padding: 12px 0px  12px  12px;
  border: 1px solid #6F73D2;
  border-radius: 24px;
  resize: vertical;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #6F73D2;
}

@media screen and (max-width: 1100px) {
  .sideheading {
    background-color: #ffff;
    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .hero-image{
    height: 300px;
  }
  .sidenav{
    padding-top: 36px;
    width: 0px;
  }
  .sidenav a {font-size: 18px;}
  .konten { 
    margin: 0px;     
  } 
  .login {
    position: relative;
    margin: 50px 0px 0px 0px;
    background-color: #ffff;
    padding: 16px;
  }
  .BBesar { 
    margin: 0px;     
  }
  .MenuButton {
    display: block;
    width: 90%;
    height: auto;}
}
@media screen and (min-width: 1100px){
  
  .konten .sidebutton, .Orderbutton{
    display: none;
  }
  .sidenav .closebtn {
    display: none;
  }
  .BBesar .sidebutton{
    display: none;
  }
}